body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-wxwjdO30JKHNo36IoUvBJaIPZcD6eYONB-HWzMmDL7uXstA5zhAtZ-aWzgtgUpRlMuY&usqp=CAU");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: grey;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#increment-btn {
    background: blue;
}

#save-btn {
    background: red;
}

#save-el {
    font-weight: bold;
}

